@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(https://fonts.googleapis.com/css?family=arvo);
*{
  font-family: 'hanna';
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover{
  color: #ffffff;
  text-decoration: none;
}
.hdTop{
  height: 30px;
  background-color: #f2f2f2;
}
nav div{
  overflow: hidden;
  height: auto;
  width: 15%;
  margin: 5% auto 3%;
  padding: 1% 0;
  border-top: 1.2px solid;
  border-bottom: 1.2px solid;
}
nav span{
  background-color: #FFFFFF;
  border:0;
  font-size: 30px;
  margin: 0;
}
.drawBox{
  width: 35%;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px 0;
  border: 1px solid;
}
.drawBox ul{
  overflow: hidden;
  height: auto;
  margin: 5px 20px;
}
.drawBox label{
  float: left;
  color: black;
  font-size: 15px;
  padding-top: 10px;
  width: 20%;
}
.drawBox a{
  float: left;
  color: black;
  font-size: 15px;
  margin-left: 10px;
  padding: 6px 3%;
  border: 1px solid;
}
.int_join{
  margin-top: 1%;
}
.int_join a{
  padding: 15px 15.5%;
  border: 1px solid;
  font-weight: bold;
  font-size: 18px;
  color:#ffffff;
  background-color: #7e827d;
}
